body{
	background-color: #cccccc;
}
h1{
	text-align: center;
}
.player_one{
	background-color: white;
	padding: 10px
}
.player_one a{
	text-decoration: none;
	color: black;
}
.player_two{
	text-align: center;
}




